.card {
  padding: 1em;
  border: 1px solid var(--root-secondary-background-color);
  border-radius: 8px;
  box-shadow: var(--root-secondary-background-color) 0px 12px 40px 10px;
}

section {
  margin: 2em;
}
