.day-card {
	padding: 2em;

	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: auto;

	.weekno {
		grid-column: 1/2;
	}

	.weekno,
	.yeardays {
		grid-row-start: 1;
	}

	.yeardays {
		grid-column: -2/-1;
	}

	div {
		grid-column: 2/3;
	}
	
	.month {
		font-size: 20px;
	}

	.weekday {
		padding-bottom: 2em;
	}

	.weekday_indicator {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 4px;

		column-span: all;
		grid-column: 1/-1;

		height: 24px;

		.item {
			visibility: hidden;
			max-width: 12px;
			overflow: clip;
			display: inline-block;
			display: block;
			font-size: 1px;
			height: min-content;

			&::before {
				display: inline-block;
				content: "";
				visibility: visible;

				width: 10px;
				height: 10px;
				border-radius: 4px;
				border: 1px solid var(--root-color);
			}

			&.filled::before {
				background-color: var(--root-color);
			}
		}
	}

	.day {
		font-size: 72px;
		line-height: 1;
		padding-top: 1rem;
	}
}