<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css" />
    <title>Vekenummer</title>
</head>
<body>
    <main id="root">
    <section class="card day-card">
        <div class="weekno gauge">
            <div class="counter">{{ week }}</div>
            <div class="description">veke</div>
        </div>
        <div class="filler"></div>
        <div class="yeardays gauge">
            <div class="counter">{{ ordinal_day }}</div>
            <div class="description">dag i år</div>
        </div>
        <div class="month">{{ month }}</div>
        <div class="day">{{ day }}</div>
        <div class="weekday">{{ weekday }}</div>
        <div class="weekday_indicator">
            {% for i in full_slots %}
                <span class="item filled">o</span>
            {% endfor %}
            {% for i in empty_slots %}
                <span class="item">.</span>
            {% endfor %}
        </div>
    </section>
</main>
</body>
</html>
