<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css" />
    <title>Vekenummer</title>
</head>
<body>
    <main id="root">
    <section class="card day-card">
        <div class="weekno">4</div>
        <div class="weekday">onsdag</div>
        <div class="month">januar</div>
        <div class="day">24</div>
        <div class="weekday_indicator">
            <span class="item filled">o</span>
            <span class="item filled">o</span>
            <span class="item filled">o</span>
            <span class="item">.</span>
            <span class="item">.</span>
            <span class="item">.</span>
            <span class="item">.</span>
        </div>
    </section>
</main>
</body>
</html>
